/*start your css here*/
#page



ul.navbar
{
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%;
         overflow: hidden;
	 background-color: #0000ff;
	 position: relative;
}
         
li.navbar
{
	left: 50%;
	float: left;
        position: relative;
}

li a.navbar
{
         display: block;
         float: left;
         padding: 10px 20px;
	 background-color: #0000ff;
	 text-decoration: none;  
	 position: relative;
         
}
li a:hover.navbar
{
	
	color: #000;
	text-decoration: underline overline;
}
#sidebar
{
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 20%;
	 background-color: #ff0000;
	 position: fixed
	 height: 100%;	
	overflow: auto;
}
#sidebar
{
         display: block;
         padding: 15px 0;
	 background-color: #000;
	 text-decoration: none;  
}
#sidebar
{
	
	color: #fff;
	
}
