/*start your css here*/
#page



ul
{
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%;
         overflow: hidden;
	 background-color: #0000ff;
	 position: relative;
}
         
li
{
	left: 50%;
	float: left;
        position: relative;
}

li a
{
         display: block;
         float: left;
         padding: 10px 20px;
	 background-color: #0000ff;
	 text-decoration: none;  
	 position: relative;
         
}
li a:hover
{
	
	color: #000;
	text-decoration: underline overline;
}
